<% content_for :title, "My checklists" %>

<div id="checklists">
  <% @checklists.each do |checklist| %>
    <details name="checklists" id="checklist-<%= checklist.id %>" <%= "open" if @checklists.one? || checklist.id == params[:last_checklist_id].to_i %>>
      <summary><%= checklist.title %></summary>

      <% if checklist.items.present? %>
        <ul>
          <% checklist.items.each do |item| %>
            <li><%= auto_link(item) { "here" } %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No items found in this checklist.</p>
      <% end %>

      <p>
        <%= render partial: "actions", locals: { checklist: checklist } %>
      </p>

      <% if checklist.published_at.present? %>
        <p>
          <small>
            Publishable URL:
            <%= link_to public_checklist_url(slug: checklist.slug), public_checklist_url(slug: checklist.slug) %>
          </small>
        </p>
      <% end %>
    </details>
  <% end %>

  <p style="margin-top: 1.7em;">
    &#10153; <%= link_to "Add a checklist", new_checklist_path %>
  </p>
</div>
